accelerate
bitsandbytes
git+https://github.com/huggingface/diffusers.git@v0.30.3
matplotlib
numpy
pandas
peft
Pillow
scipy
safetensors
torch
torch-fidelity
torchmetrics[image]
torchvision
transformers==4.44.2
tqdm
xformers
