accelerate
bitsandbytes
git+https://github.com/huggingface/diffusers.git
matplotlib
numpy
pandas
peft
Pillow
scipy
safetensors
torch
torch-fidelity
torchmetrics[image]
torchvision
transformers
tqdm
xformers
